---

import { services } from './services.js'
import Container from '../HOC/Container.astro';
import HomePageContentSection from '../HOC/HomePageContentSection.astro';

import Service from './Service.astro';

---

<style lang="scss">
	section {
		display: flex;
		flex-direction: row;
		gap: 100px 40px;
		flex-wrap: wrap;
		padding: 20px;
		justify-content: center;
	}

	p {
		text-align: center;
		margin-bottom: 30px;
	}
</style>

<Container id="services">	
	<HomePageContentSection title="Services">
		<p>At Making Sense Of It we offer a range of services. The following sections give some brief detail about each of these services we offer.</p>
		<section>
			{ 
				services.map(service => (<Service service={service} />))
			}
		</section>
	</HomePageContentSection>  
</Container>