---

import QuoteLeft from "../Icons/QuoteLeft.astro";
import QuoteRight from "../Icons/QuoteRight.astro";

const { cite } = Astro.props;
---

<style lang="scss">

  section {
    display: block;
    clear: both;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;

    blockquote {
      display: block;
      text-align: center;
      fill: #ff8f00;
      color: #ff8f00;
      font-family: 'EduTASBeginner';
      font-size: 1.4em;
      text-wrap: balance;
    }

    cite {
      display: block;
      font-style: normal;
      text-align: center;
      font-size: 0.75rem;
      color: #666;
    }
  }
</style>

<section>
  <blockquote cite={cite}>
    <QuoteLeft />
    <slot />
    <QuoteRight />
  </blockquote>
  <cite>{ cite }</cite>
</section>