---
import './ButtonStyles.scss';
import { ButtonStyles } from './ButtonTypes'

const { buttonStyle, destination } = Astro.props;

const btnStyle = buttonStyle || ButtonStyles.PRIMARY;

---

<a href={destination} class={`btn ${btnStyle}`}>
  <slot />
</a>