---

import './ButtonStyles.scss';
import { ButtonTypes, ButtonStyles } from './ButtonTypes'

const { buttonType, buttonStyle, fill } = Astro.props;

const btnType = buttonType || ButtonTypes.BUTTON;
const btnStyle = buttonStyle || ButtonStyles.PRIMARY;

---

<button type={btnType} class={`btn ${btnStyle} ${fill ? 'full-width' : null}`}>
  <slot />
</button>