/* GLOBAL STYLES */

.pageSection:first-child 
{
	padding-top: 87px !important;
}

.pageSection
{
	padding-top: 120px;
}

.pageSection h1,h2
{
	padding-bottom: 25px;
}

/* Quote */

.Service blockquote i
{
	font-size: 25px;
}

.Service blockquote i:first-child
{
	padding-right: 8px;
}

.Service blockquote i:last-child
{
	padding-left: 8px;
}

.Service .quoteSource
{
	font-size: 8px;
	width: 60%;

	color: #666;
	font-style: italic;
}

.Service .HalfWidthQuote .quoteSource
{
	float: right;
}

.Service .FullWidthQuote .quoteSource
{
	width: 100%;
	margin-bottom: 20px;
}

/*************************/




/*
Extra small devices (phones, less than 768px)
Small devices (tablets, 768px and up)
Medium devices (desktops, 992px and up)
Large devices (large desktops, 1200px and up)
*/

/* .pageSection a
{
	text-decoration: underline;
} */




/**************************** Generic Company Name Styles */



/**************************** Buttons */



/****/


/**************************** Footer */




/***********************************/

/* .divider
{
	width: 90%;
	height: 2px;
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
} */

/* .navbarCompanyName
{
	vertical-align: middle;
	display: inline-block;
	font-family: sans-serif;
} */





/*************************************************/

	/* .contactList
	{
		list-style: none;
		padding: 0;
		padding-top: 10px;
	}
	
	.contactList li
	{
		padding: 0;
		margin-bottom: 10px;
	}
	
	.contactList li:last-child
	{
		margin-bottom: 0px;
	} */
	
/*************************************************/


	
/*************************************************/



/**************************** Mobile Only Styles */

@media (max-width: 767px) {
	
	/* #main-menu
	{
		background-color: green;
	} */


	

	
	/****************************************************************/
	

	
	/*.stay-open {display:block !important;}*/
	
	/* #ServiceDesktopNavItem
	{
		display: none;
	}
	
	#ServicesSecondaryNav
	{
		display: none;
	} */
	
	/****************
	
	.navBarCompanyLogo
	{
		display: inline;
		float: left;
		padding-bottom: 2px;
	}
	
	.navBarCompanyLogo img
	{
		height:68px;
		width: 68px;
	}
	
	.navbarCompanyName
	{
		font-weight: bold;
		font-size: 1.2em;
		padding-left: 8px;
		display: inline;
		float: left;
		padding-top: 32px;
	}
	
	***************/
	
	/* #Toolbar
	{
		display: none;
	} */

  /*********************************************************************/
	
	.pageSection:first-child 
	{
		margin-top: 72px;
		
		background-image: none;
	}
	
	.pageSection
	{
		padding-top: 90px;
		padding-bottom: 50px;
		
		background-image: url('../images/Divider.png');
		background-repeat: no-repeat;
		background-position: center 19px;

	}
	
	.pageSection h1,h2
	{
		padding-bottom: 25px;
	}
	
	/*********************************************************************/
	
	.contactList li
	{
		font-size: 1.2em;
	}
	
	.contactList i
	{
		margin-right: 5px;
	}
	
	/*********************************************************************/	
		
	#Services .row .col-sm-4
	{
		margin-bottom: 60px;
		padding: 10px 0;
	}
	
	#Services .row .col-sm-4 h3
	{
		padding: 10px 0px 10px 0px;
		    font-size: 18px;
	}
	
	#Services #ServicesIntroText
	{
		margin-bottom: 30px;
	}
	
	.Serviceslast-child
	{
		margin-bottom: 0px !important;
	}
	
	/********************************************************************/
	
	#WhatWeDo .media-blurb
	{
		margin-bottom: 30px;
	}
	
	/********************************************************************/
	
	#WhoWeAre .row
	{
		margin-bottom: 40px;
	}
	
	#WhoWeAre .row:last-child
	{
		margin-bottom: 0px;
	}
	
	.media-blurb h3
	{
    border-bottom: 1px solid #E50D17;
    padding: 15px 0px 10px 0;
    text-align: center;
    margin-bottom: 16px;
	}
	
	.media-blurb p
	{
		clear: both;
		    text-align: center;
	}
	
	.profileImage
	{
	    width: 70%;
		margin: 0 auto 25px auto;
	}
	
	/********************************************************************/

	.logoContainer:first-child
	{
		margin-bottom: 60px;
	}
	
	.logoContainer:last-child
	{
		margin-bottom: 0;
	}
	
	#bpsLogo
	{
		width: 80%;
	}
	
	#HCPCLogo
	{
		width: 80%;
	}
	
	#acreditations
	{
    padding-top: 140px;
	}
	
	/******************************************************/
	
	input[type="text"], input[type="email"], input[type="tel"]
	{
		width: 100%;
		margin-bottom: 30px;
	}

	textarea
	{
		width: 100%;
		margin-bottom: 30px;
		height: 207px;
	}

	/***********************************************************/
	
		.Service
		{
			padding-left: 0px;
		}
		
		.Service .row
		{
			margin: 20px 0 !important;
			padding: 0px 0px 0px 0px !important;
		}
		
		.Service .col-sm-6, .col-sm-12 
		{
			padding: 0px 0px 0px 0px !important;
		}
		
		.Service h2
		{
			text-align: center;
			/*
			border-bottom: 1px solid #3EAB34;
			margin-bottom: 40px;
			margin-left: 15px;
			margin-right: 15px;
			*/
		}

		.Service h3, h4
		{
			margin-top: 40px !important;
		}
		
		.MainServiceContent ul
		{
			margin-top: 40px;
		}

		#quoteImage
		{
			margin-top: 20px;
		}
		
		#ServiceBulletList
		{
			margin-top: 20px;
		}
		
		.Service blockquote
		{
			color: #ff8f00;
			border-left: none;
			margin-bottom: 0;
			font-style: italic;
			text-align: center;
		}
		
		.Service blockquote i
		{
			font-size: 25px;
		}
		
		.Service blockquote i:first-child
		{
			padding-right: 8px;
		}
		
		.Service blockquote i:last-child
		{
			padding-left: 8px;
		}
		
		.Service .quoteSource
		{
			font-size: 8px;
			width: 60%;

			color: #666;
			font-style: italic;
		}
		
		.Service .HalfWidthQuote .quoteSource
		{
			width: 100%;
			text-align: center;
		}
		
		.Service .FullWidthQuote .quoteSource
		{
			width: 100%;
		}
		
		.Service .row
		{
			margin: 40px 0;
		}
		
		
		.SecondaryNavigation
		{
			margin: 15px 0 0 0;
			padding: 0;
		}
		
		.SecondaryNavigation li
		{
			list-style: none;
		}
		
		.SecondaryNavigation li a
		{
			float: left;
			width: 100%;
			margin-bottom: 0;
			padding: 5px;
		}
		
		.activeServiceLink
		{
			color: #fff !important;
			text-decoration: none !important;
		}
		
		.Service ul ul {
		  margin-top: 15px;
		}
		
		.Service ul {
		  list-style: none;
		  padding: 0;
		  padding-left: 10px;
		}
		.Service li {
		  padding-left: 1.3em;
		  padding-bottom: 10px;
		  
		}
		.Service li:before {
		  content: "\f054"; 
		  font-family: FontAwesome;
		  display: inline-block;
		  margin-left: -1.3em; /* same as padding-left set on li */
		  width: 1.3em; /* same as padding-left set on li */
		  color: #E50E17;
		}
}

/**************************** Tablet Only Styles */

@media screen and (min-width: 768px) and (max-width: 1000px) /* mini tablet */
{
	.BannerText
	{
		margin: 30px 0 0 30px;
		width: 80%;
	}
}

@media screen and (min-width: 1001px) and (max-width: 1199px) /* big tablet */
{
	.BannerText
	{
		margin: 30px 0 0 50px;
		width: 70%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) /* all tablets */
{
	#Banner
	{
		padding: 0;
	}
	
	#InnerBanner
	{
		background-image: url('../images/stock-photo-many-colorful-hands-with-smileys-204520951.jpg');
		height: 520px;
		background-position: center 62px;
		background-repeat: no-repeat;
		border-bottom: 3px solid #27bbdf;

		background-size: auto;
		background-color: #fff;
	}
	
	#InnerBanner h1
	{
		padding-bottom: 5px;
	}
	
	#InnerBanner .bannerText
	{
		padding-bottom: 10px;
	}
	
	.BannerText
	{

		float: left;
		/* border: 1px solid blue; */
	}

	.BannerText h1
	{
		font-weight: bold;
	}
	
	#BannerDivider
	{
		display: none;
	}
	
	/************************************************************************/
	
	/* .navbar 
	{
		padding: 5px 0 0px 0;
	}
	
	.navbar-brand
	{
		padding:0px;
	} */
	
	/* .navBarCompanyLogo
	{
		display: inline;
		float: left;
		padding-bottom: 2px;
	} */
	
	.navbar-nav li a 
	{
		padding-top: 13px;
		padding-bottom: 13px;
	}

	#ServiceMobileNavItem
	{
		display: none;
	}
	
	#Toolbar
	{
		list-style: none;
		text-align: right;
		margin-right: 13px;
		font-size: 0.9em; 
	}
	
	#Toolbar li
	{
		display: inline;
	}
	
	#Toolbar a
	{
		text-decoration: none;
	}
	
		/*********************************************************************/
	
	.pageSection:first-child 
	{
		margin-top: 72px;
	}
	
	.pageSection
	{
		padding-top: 120px;
		padding-bottom: 50px;
	}
	
	.pageSection h1,h2
	{
		padding-bottom: 25px;
	}
	
	/*********************************************************************/
	
	.contactList li
	{
		font-size: 1.4em;
	}
	
	.contactList i
	{
		margin-right: 5px;
	}
	
	/*********************************************************************/
	
	#Services .row
	{
		margin-bottom: 40px;
	}
	
	#Services .row:last-child
	{
		margin-bottom: 0px;
	}
	
	#Services .row .col-sm-4 h3
	{
		padding: 10px 0px 10px 0px;
		height: 58px;
		font-size: 18px;
	}
	
	#Services .row .col-sm-4 .innerServiceContainer
	{
		padding: 5px;
	}
	
	#Services .row .col-sm-4 img
	{
		border: 1px solid #eee;
		width: 220px !important;
		height: 220px !important;
		margin: 0 auto;
	}
	
	#Services .row .col-sm-4 .btn
	{
		width: 100%;
	}
	
	#Services #ServicesIntroText
	{
		margin-bottom: 30px;
	}
	
	/********************************************************************/
	
	#WhoWeAre .row
	{
		margin-bottom: 60px;
	}
	
	#WhoWeAre .row:last-child
	{
		margin-bottom: 0px;
	}
	
	.media-blurb h3
	{
		margin-bottom: 10px;
		border-bottom: 1px solid #E50D17;
		float: left;
		clear: right;
		padding: 0 30px 5px 0;
		font-size: 1.5em;
	}
	
	.media-blurb p
	{
		clear: both;
	}
	
	.profileImage
	{
	    width: 200px;
		margin: 0 auto;
	}
	
		/******************************************************/
		
	.contactUsBtn
	{
		width: 300px; 
		margin: 0 auto;
	}
	
	input[type="text"], input[type="email"], input[type="tel"]
	{
		width: 100%;
		margin-bottom: 30px;
	}

	textarea
	{
		width: 100%;
		margin-bottom: 30px;
		height: 216px;
	}
	
	/********************************************************************/

	#bpsLogo
	{
		width: 300px;
		padding-top: 13px;
	}
	
	#HCPCLogo
	{
		width: 139px;
	}
	
	#acreditations
	{
		padding-top: 40px; /* extra padding to account for no h1 or h2 */
	}
	
	/*********************************************************/
	
			.Service
		{
			padding-left: 0px;
		}
		
		.Service h2
		{
			text-align: center;
			/*
			border-bottom: 1px solid #3EAB34;
			margin-bottom: 40px;
			margin-left: 15px;
			margin-right: 15px;
			*/
		}
		
		.Service h3, h4
		{
			margin-top: 40px !important;
		}
		
				.MainServiceContent ul
		{
			margin-top: 30px;
		}
		
		.Service blockquote
		{
			color: #ff8f00;
			border-left: none;
			margin-bottom: 0;
			font-style: italic;
		}
		
			.Service .col-sm-6, .col-sm-12 
	{
		padding: 0px 5px !important;
	}
		
		.Service blockquote i
		{
			font-size: 25px;
		}
		
		.Service blockquote i:first-child
		{
			padding-right: 8px;
		}
		
		.Service blockquote i:last-child
		{
			padding-left: 8px;
		}
		
		.Service .quoteSource
		{
			font-size: 8px;
			width: 60%;

			color: #666;
			font-style: italic;
		}
		
		.Service .HalfWidthQuote .quoteSource
		{
			float: right;
		}
		
		.Service .FullWidthQuote .quoteSource
		{
			width: 100%;
		}
		
		.Service .row
		{
			margin: 40px 0;
		}
		
		
		.SecondaryNavigation
		{
			margin: 15px 0 0 0;
			padding: 0;
		}
		
		.SecondaryNavigation li
		{
			list-style: none;


		}
		
		.SecondaryNavigation li a
		{
			float: left;
			width: 100%;
			margin-bottom: 0;
			padding: 5px;
		}
		
		.activeServiceLink
		{
			color: #fff !important;
			text-decoration: none !important;
		}
		
				.Service ul ul {
		  margin-top: 15px;
		}
		
		.Service ul {
		  list-style: none;
		  padding: 0;
		  padding-left: 15px;
		}
		.Service li {
		  padding-left: 1.3em;
		  padding-bottom: 10px;
		  
		}
		.Service li:before {
		  content: "\f054"; 
		  font-family: FontAwesome;
		  display: inline-block;
		  margin-left: -1.3em; /* same as padding-left set on li */
		  width: 1.3em; /* same as padding-left set on li */
		  color: #E50E17;
		}
		
				#quoteImage
		{
			margin-top: 20px;
		}
}

/**************************** Desktop Only Styles */

@media screen and (min-width: 1200px)
{

	

	

	
	/***************************************************************************/

	
	/*
	.homePageSection
	{
		padding-top: 90px;
		padding-bottom: 90px;
	}
	
	.homePageSection h2
	{
		padding-bottom: 20px;
		font-weight: bold;
	}
	
	*/
	
	/*************************************************************/
	/*
	.nav
	{
		
		float: right;
		clear: both;
		
	}
	*/
	/* .navbar 
	{
		padding: 5px 0 0px 0;
	}

	.navbar-brand
	{
		height: auto;
		padding: 0;
		margin-top: 4px;
	}

	.navbar-brand img
	{
		display: inline;
	} */


	
	/* .navBarCompanyLogo
	{
		display: inline;
		float: left;
		padding-bottom: 2px;
	} */
	
	/* .navBarCompanyLogo img
	{
		height:68px;
		width: 68px;
	} */
	
	/* .navbarCompanyName
	{
		font-weight: bold;
		font-size: 1.2em;
		padding-left: 8px;
		display: inline;
		float: left;
		padding-top: 32px;
	} */
	
	/* #ServiceMobileNavItem
	{
		display: none;
	} */
	

	
	/*********************************************************************/

	
	/*********************************************************************/
	
	/* .contactList li
	{
		font-size: 1.4em;
	}
	
	.contactList i
	{
		margin-right: 5px;
	} */
	
	/*********************************************************************/
	

	
	
	/********************************************************************/
	

	

	

	
	/********************************************************************/
	

	
	/******************************************************/
	


	
	/*******************************************************/
	
	
	
	/*****************************************************/

}