---

import ServicesLayout from "../../Layouts/ServicesLayout.astro";
import Quote from '../../components/Quote/Quote.astro'

import autismMnemonic from '../../assets/images/autism-mnemonic.jpg'
import childFlying from '../../assets/images/child-flying.png'

import List from '../../components/List/List.astro';
import ListItem from '../../components/List/ListItem.astro';

---

<style lang="scss">

  @import '../../styles/dimensions.scss';

  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .content-section {
      display: flex;

      @media screen and (max-width: $breakpoint-lg){
        & {
          flex-direction: column;
        }
      }
      
      img {
        margin: 1rem 0 0 2rem;

        @media screen and (max-width: $breakpoint-lg){
          margin: 2rem auto 0 auto;
        }

        @media screen and (max-width: $breakpoint-sm){
          width: 100%;
        }
      }

      ul {
        padding: 1rem 0 0 20px;
        li {
          &:not(:last-child)
          {
            padding-bottom: 10px;
          }
          list-style-type: none;
        }
      }
    }
  }
</style>

<ServicesLayout>
  <h1>Autism Diagnostic Service</h1>
  <div class="content">
    <section class="content-section">
      <section>
        <p>The term Autism Spectrum Disorder (ASD) covers a huge range of presentations, skills and difficulties. The preferred language around neurodiversity differs within communities and professional services. Some people prefer to use person-first language (person with autism) others prefer to use identity first language (autistic person). We are keen to ensure we use the language that feels most comfortable for each family we work with. Children and young people who might receive a diagnosis of autism typically will have difficulties in three areas: social interaction, communication and restrictive/repetitive behaviours. Autism is a lifelong condition, however the difficulties your child/young person experiences may be more apparent at different stages in their life. Some children as young as two might receive a diagnosis; others may not until well into their teenage years, or even in adulthood. It is likely however, that you might have noticed some particular challenges for your child/young person throughout their life.  You may have noticed that they is struggling socially at school, become very stressed with change in routines or new situations or are very worried much of the time. Neurodiversity also brings incredible skills and talents, and a unique way of looking at the world.</p>
        <p>Many children/young people on the autism spectrum, and their families, benefit from having a diagnosis and an understanding of their profile of strengths and needs. Having an explanation for the difficulties that your child/young person has been experiencing can bring a sense of relief. It can also provide you with the information you need to get access to the most appropriate education and services.  Some people prefer not to get a formal diagnosis.</p>
      </section>
      <img src={autismMnemonic.src} alt="Autism Mnemonic; Always, Unique, Totally, Intelligent, Sometimes, Mysterious" width="300" height="350" />
    </section>
    <Quote cite="S.L. Coelho, 2011">
      Autism, is part of my child, it's not everything he is. My child is so much more than a diagnosis
    </Quote>
    <section>
      <p>At Making Sense Of It, we have joined with Speech and Language Therapists (SALT) to develop a 
        multidisciplinary assessment and diagnosis service.  Giving an autism diagnosis to a child/young 
        person involves detailed and comprehensive assessment of all areas of their life. Unfortunately 
        the assessment for a diagnosis of autism is based upon a deficit or ‘difference’ focussed model. 
        This means that the assessment must overtly focus on areas that are challenging for a young person or 
        with which they really struggle and compare these to diagnostic thresholds and criterion. 
        Our assessments follow the 
        <a href="https://www.nice.org.uk/guidance/cg128" title="NICE Guidelines" target="_blank">
          <abbr title="National Institute for Health and Care Excellence">NICE</abbr>
        </a> 
        guidelines as closely as possible, and incorporate assessments from both Clinical Psychologists 
        and Speech and Language Therapists. Our assessment involves a screening phase which helps us to ensure 
        that we only progress to a full diagnostic assessment if there is enough evidence to indicate that this 
        is required. However this does not guarantee a diagnosis will be given. The cost for an autism spectrum 
        disorder assessment varies depending on what is needed for each young person. As a guide, a full autism 
        diagnostic assessment is approximately £2600. 
      </p>
      <p>Broadly speaking, an autism assessment with us is split into two stages:</p>
      <h2>Stage 1: Initial Assessment and screening phase</h2>
      <List>
        <ListItem>An initial Clinical Psychology screening appointment with you and your child/young person</ListItem>
        <ListItem>Questionnaire assessment packs sent to parents/carers and education setting</ListItem>
        <ListItem>A speech and language screening assessment with your child/young person</ListItem>
        <ListItem>Observation of your child/young person in education setting</ListItem>
        <ListItem>Multi-disciplinary meeting to review findings</ListItem>
        <ListItem>Reports compiled and shared</ListItem>
      </List>
      <p>
        Following the multi-disciplinary meeting a plan will be made with you regarding the next steps and whether 
        to proceed to Stage 2.  Sometimes other issues may be identified in the screening assessment which need 
        to be explored before (or instead) of proceeding to Stage 2.
      </p>
      <h2>Stage 2: Assessment and Formulation Phase</h2>
      <List>
        <ListItem>
          Administration of two standardised assessments; the ADOS 2 (Autism Diagnostic Observation Schedule – second edition) 
          and the ADI-R (Autism Diagnostic Interview - Revised) to learn about your child/young person.
        </ListItem>
        <ListItem>Multi-disciplinary discussion of assessment findings</ListItem>
        <ListItem>Reports compiled</ListItem>
        <ListItem>Feedback session to discuss outcome of assessment</ListItem>
      </List>
    </section>
    <section class="content-section">
      <section>
        <p>
          We are flexible about how this comprehensive assessment is taken forward. 
          This is a thorough assessment process which involves a number of appointments 
          and requires liaison with Schools/Colleges and where appropriate other professionals. 
          Once all the information has been gathered a multi-discilplinary discussion is held. 
          The team will share their decision regarding the diagnosis with you together as a family, 
          or separately depending which is felt more helpful. You will receive a full report outlining 
          the assessment.
        </p>
        <p>
          At Making Sense Of It we appreciate that receiving an autism diagnosis is a very significant 
          event for all members of the family.  We are able to offer follow up appointments or 
          longer term support following diagnosis if this is felt helpful for you or your child/young person.
        </p>	
        <p>
          If you would like to discuss a whether an autism assessment might be helpful for your child/young person, 
          please contact us and we will be happy to talk this through with you.
        </p>				
      </section>
      <img src={childFlying.src} alt="Child pretending to fly through the air" width="300" height="350" />
    </section>
    <Quote cite="Department of Education (2016) Guidance: Mental health and behavior in schools">
      To give the short version, I've learnt that every human being, with or without disabilities, 
      needs to strive to do their best, and by striving for happiness you will arrive at happiness. 
      For us, you see, having autism is normal -- so we can't know for sure what your 'normal' is even like. 
      But so long as we can learn to love ourselves, I'm not sure how much it matters whether we're normal or autistic.
    </Quote>
  </div>
</ServicesLayout>