---

import ServicesLayout from "../../layouts/ServicesLayout.astro";
import Quote from '../../components/Quote/Quote.astro'

import musclesImg from '../../assets/images/child-with-chalk-muscles.jpg';
import familyUmbrellaImg from '../../assets/images/family-umbrella.jpg';

import List from '../../components/List/List.astro';
import ListItem from '../../components/List/ListItem.astro';

---

<style lang="scss">

  @import '../../styles/dimensions.scss';

  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .content-section {
      display: flex;
      flex-direction: space-between;

      @media screen and (max-width: $breakpoint-lg){
        & {
          flex-direction: column;
        }
      }
      
      img {
        margin: 1rem 0 0 2rem;

        @media screen and (max-width: $breakpoint-lg){
          margin: 2rem auto 0 auto;
        }

        @media screen and (max-width: $breakpoint-sm){
          width: 100%;
        }
      }
    }
  }
</style>

<ServicesLayout>
  <h1>Child and Family Mental Health</h1>
  <div class="content">
    <section class="content-section">
      <section>
        <p>Children and families throughout their lives can struggle with a range of different issues. Often these problems may resolve of their own accord but at other times help from a specialist with experience in child development and mental health may be useful. It might be that you are a parent or carer who is worried about your child and would like to either talk to someone yourself, or seek some help for them directly.   You may have noticed a change in their behaviour, or feel concerned that they are becoming withdrawn or seems overly anxious. You may be a young person yourself feeling overwhelmed by difficult thoughts or feelings, and would like to talk to someone directly. At Making Sense Of It we are passionate about supporting children and young people to live fulfilling lives. As experienced Registered Clinical Psychologists, we have learnt through our practice that providing the right support as early as possible is essential. At Making Sense of It, we work with children and young people experiencing a range of mental health difficulties including:</p>      
        <List>
          <ListItem>Depression</ListItem>
          <ListItem>Anxiety</ListItem>
          <ListItem>Obsessive Compulsive Disorder (OCD)</ListItem>
          <ListItem>Bereavement</ListItem>
          <ListItem>Family relationship difficulties</ListItem>
          <ListItem>Autistic spectrum disorder</ListItem>
          <ListItem>Attachment difficulties</ListItem>
          <ListItem>School attendance</ListItem>
          <ListItem>Trauma / Post traumatic stress disorder (PTSD)</ListItem>
        </List>
      </section>
      <img src={musclesImg.src} alt="Child with a chalk board behind with an outline of large muscles" width="400" height="500" />
    </section>
    <Quote cite="The Mental Health Foundation">
      The emotional well-being of children is just as important as their physical health. Good mental health allows children and young people to develop resilience to cope with whatever life throws at them and grow into well-rounded, healthy adults.
    </Quote>
    <section class="content-section">
      <section>
        <p>As Clinical Psychologists, we are both trained in a variety of different therapeutic models including for example cognitive behavioural therapy (CBT); attachment informed therapies; brief psychodynamic therapy; Eye Movement Desensitisation and Reprocessing (EMDR)and systemic approaches.  We work closely with the child and family to assess and come to a shared understanding of the difficulties and therefore what type of intervention would be best suited to meet their needs.</p>
        <h2>What to expect when we meet</h2>
        <p>We will discuss this together over the phone so this fits with your family, however generally for younger children we would meet with the parents or carers first for 50 minutes so you can talk openly about your concerns. Following this meeting if we both feel that we can work together, we would then also meet with you again, together with your child. Older young people and adolescents may prefer to meet with us alone, or as a family you may feel that meeting altogether from the beginning is your preference. Following these meetings we will agree a collaborative plan for further support/intervention.</p>
        <h2>Confidentiality</h2>
        <p>All information shared with us during both the assessment and intervention will be treated confidentially. This means that we will not talk about or share information about you or your family with other people unless we are worried that you (or your child/young person) are being harmed or plan to harm themselves or someone else. For more information please see our full confidentiality policy</p>
      </section>
      <img src={familyUmbrellaImg.src} alt="family with a drawn unbrealla over them protecting them from drawn rain" width="400" height="450" />
    </section>
    <Quote cite="Young minds">
      With good mental health, children and young people do better in every way. They enjoy their childhoods, are able to deal with stress and difficult times, are able to learn better, do better at school … and enjoy friendships and new experiences.
    </Quote>
  </div>
</ServicesLayout>