---

import ServicesLayout from "../../layouts/ServicesLayout.astro";

---

<ServicesLayout>
  <div data-service-id="1" class="Service">
    <h2>Schools</h3>
    <div class="row">
      <div class="col-sm-6">
        <div class="FullWidthQuote text-center">
          <blockquote><i class="fa fa-quote-left" aria-hidden="true"></i>The role that schools play in promoting the resilience of their pupils is important, particularly so for some children where their home life is less supportive. School should be a safe and affirming place for children where they can develop a sense of belonging and feel able to trust and talk openly with adults about their problems<i class="fa fa-quote-right" aria-hidden="true"></i></blockquote>
          <p class="quoteSource">Department of Education (2016) Guidance: Mental health and behavior in schools</p>
        </div>
      </div>
      <div id="quoteImage" class="col-sm-6">
      <img src="/images/SchoolImage2508131722.jpg" class="img-responsive"  alt="Child reading a book" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="MainServiceContent">
          <p>Children spend more of their time in school than any other location. Teachers work hard to understand and meet the needs of multiple children alongside ensuring that they deliver the curriculum. Often teachers are the first to notice that something is not right for a child or young person. At Making Sense Of It we aim to enable teachers to feel confident in identifying mental health difficulties in their students. Following this, we will support school staff to explore what may help the student. With overstretched local mental health services, many teachers report that some children they are concerned about “fall through the gap” and they struggle to access timely support. At Making Sense Of It we work closely with schools to think about how we could help. This could include:</p>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-sm-6 col-sm-push-6">
        <ul id="ServiceBulletList">
          <li><strong>Consultation</strong> to teachers/<abbr title="Special Educational Needs Co-ordinator">SENCOs</abbr>/teaching assistants. This will include a meeting within school with professionals, parents/carers, to explore the areas of difficulty, develop a shared understanding and agree a plan with recomendations.</li>
          <li><strong>Training</strong> - Whole school or small group training e.g. managing anxiety/depression, bereavement, dealing with disruptive behaviour, autism, attachment in the classroom, hard to reach children, working with parents.</li>
          <li><strong>Direct work</strong> with individuals or small groups of children</li>
        </ul>
      </div>
      
      <div class="col-sm-6 col-sm-pull-6">
        <img src="/images/Schools.jpg" class="img-responsive"  alt="School supplies on a table" />
      </div>


    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="MainServiceContent">

          <p>We can also work with schools to support them with the development and implementation of whole school mental health / emotional well-being support, including working within:  </p>
            <ul>
              <li>Special Educational Needs schools</li>
              <li>Local Authority Primary and Secondary schools</li>
              <li>Independent schools</li>
              <li>Residential schools</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="FullWidthQuote text-center">
          <blockquote><i class="fa fa-quote-left" aria-hidden="true"></i>For 10 – 20 year olds school is one of the key environments in which mental health problems can be identified and mental health support can be provided<i class="fa fa-quote-right" aria-hidden="true"></i></blockquote>
          <p class="quoteSource">Newman,T. (2004), What works in building resilience? Barnardo’s</p>
        </div>
      </div>
    </div>
  </div>
</ServicesLayout>