---

import ServicesLayout from "../../layouts/ServicesLayout.astro";
import Quote from '../../components/Quote/Quote.astro'

import brainImg from '../../assets/images/brain.png';
import supervisionSignpostImg from '../../assets/images/supervision-signposts.jpg';

import List from '../../components/List/List.astro';
import ListItem from '../../components/List/ListItem.astro';

---

<style lang="scss">

  @import '../../styles/dimensions.scss';

  h1, h2, h3, p {
    @media screen and (max-width: $breakpoint-sm) {
        padding-left: 10px;
        padding-right: 10px;
    }
  }

  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .content-section {
      display: flex;

      @media screen and (max-width: $breakpoint-lg){
        & {
          flex-direction: column;
        }
      }
      
      img {
        margin: 1rem 0 0 2rem;

        @media screen and (max-width: $breakpoint-lg){
          margin: 2rem auto 0 auto;
        }

        @media screen and (max-width: $breakpoint-sm){
          width: 100%;
        }
      }

      ul {
        padding: 1rem 0 0 20px;
        li {
          &:not(:last-child)
          {
            padding-bottom: 10px;
          }
          list-style-type: none;
        }
      }
    }
  }
</style>

<ServicesLayout>    
  <h1>Supervision & Training</h1>
  <div class="content">
    <section class="content-section">
      <section>
        <h2>Supervision</h2>
        <p>When professionals are working with young people, families, or adults with any mental health problems,  it is essential that they have formal supervision processes in place to support them to be effective and safe practitioners. At Making Sense Of It, we both have extensive experience of providing supervision both to other clinical psychologists and other health/social care professionals. When choosing a supervisor it is important to find the person with both the right skills and someone who you feel able to develop a safe and trusting relationship with.  If you are interested in discussing your supervision needs please get in touch with us and we would be happy to discuss this further.</p>
      </section>
      <img src={supervisionSignpostImg.src} alt="a picture of signposts" role="presentation" width="300" height="300" />
    </section>
    <section class="content-section">
      <section>
        <h2>Training</h2>
        <p>At Making Sense Of It we offer a variety of training packages which can be tailored to your needs. This could include training into educational settings, training for other health professionals or training for parents. Some examples of the kind of training packages that we could deliver include:</p>
        <List>
          <ListItem>Understanding specific mental health difficulties e.g. managing anxiety and depression, self-harm in young people</ListItem>
          <ListItem>Sleep difficulties</ListItem>
          <ListItem>Bereavement</ListItem>
          <ListItem>Understanding and supporting children with autism</ListItem>
          <ListItem>Understanding and managing challenging behaviour</ListItem>
          <ListItem>Attachment and trauma</ListItem>
          <ListItem>Dealing with disruptive behaviour</ListItem>
          <ListItem>Hard to reach children</ListItem>
          <ListItem>School refusal</ListItem>
        </List>
      </section>
      <img src={brainImg.src} alt="picture of a brain" role="presentation" width="300" height="300" />
    </section>	
    <Quote cite="The Department of Health, 1993">
      A formal process for professional support and learning which enables individual practitioners 
      to develop knowledge and competence, assume responsibility for their own practice and enhance 
      consumer protection and safety in complex situations. It is central to the process of learning 
      and scope of the expansion of practice and should be seen as a means of encouraging self-assessment, 
      analytical and reflective skill
    </Quote>						
  </div>
</ServicesLayout>