---
const { destination, fill } = Astro.props;
---

<style lang="scss">
  .linkButton {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #27bbdf;
    text-decoration: none;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px #ccc;
    padding: 12px 12px; 
    font-size: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    // transition: border-color .5s ease-in-out;
    // transition: color .5s ease-in-out;
    font-weight: bold;
    background-color: white;
    color: #27bbdf;

    &:hover {
      border-color: #2d3286;
      color: #2d3286;
    }

    &:focus-visible{
      outline: 2px solid transparent;
      background-color: #fd0;
      color: #000 !important;
      border-color: #fd0;
    }
  }

  .full-width {
    width: 100%;
  }
</style>

<a href={destination} class={`linkButton ${fill ? 'full-width' : null}`}>
  <slot />
</a>