@import './fonts.scss';
@import './forms.scss';
@import './accessibility.scss';


body
{
	// font-size: 1rem;
	/*letter-spacing: 0.5px;*/
}

h1, h2, h3, h4 {
	color: #222121;
}

a {
	color: blue;
	color: #2D3286;
	text-decoration: none;

  &:hover {
    color: blue;
    color: #2F3184;
    text-decoration: none;
  }

  &:visited {
    color: blue;
    color: #2D3286;
    text-decoration: none;
  }

  &:active {
    color: blue;
    color: #2F3184;
    text-decoration: none;
  }
}

p {
  color: #5f5e5e;
}

// p:last-child
// {
// 	margin-bottom: 0;
// }
