---
const { profile } = Astro.props;
---

<style lang="scss">

  @import '../../styles/dimensions.scss';

  div {
    display: flex;
    flex-direction: row;

		@media screen and (max-width: $breakpoint-sm){
			flex-direction: column;
		}

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    .image-container {

      @media screen and (max-width: $breakpoint-sm){
          margin: 0 auto;
      }

      img	{
        margin: 0 50px;
      }
    }

    .text-container {
      h3 {
        margin-bottom: 10px;
        padding: 0 30px 5px 0;
        font-weight: 600;

        @media (max-width: $breakpoint-sm) {  
          padding: 15px 7px 10px 7px;
          text-align: center;
        }
      }

      section {
        @media screen and (max-width: $breakpoint-sm) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
</style>

<div>
  <section class="image-container">
    <img src={ profile.image.src } alt={ profile.imageAlt } width={200} height={245} />
  </section>
  <section class="text-container">
    <h3 set:html={profile.name}></h3>
    <section set:html={profile.blurb}></section>
  </section>
</div>