---

import Container from '../HOC/Container.astro';
import HomePageContentSection from '../HOC/HomePageContentSection.astro';

const owners = [
  {
    image: "images/jodie.jpg",
    imageAlt: "Dr Jodie Tilley Profile Picture",
    name: 'Dr Jodie Tilley (<abbr title="Chartered Member of the British Psychological Society">C. Psychol</abbr>, <abbr title="Associate Fellow of the British Psychological Society">AFBPsS</abbr>)',
    blurb: '<p>Dr. Jodie Tilley is a Chartered Clinical Psychologist, with over 15 years post qualification specialist experience working with children, adolescents and their families in the NHS and private settings.  After achieving a First Class Degree in Applied Psychology, Jodie completed a doctorate in Clinical Psychology, which covered a range of psychological disorders, therapeutic models and training in working with people across the life span. Dr. Tilley values working with the whole family and wider system when supporting children and young people.</p><p>Since qualifying Dr. Tilley has worked within the NHS in Specialist Child and Adolescent Mental Health Services (CAMHS) supporting children and families with a range of emotional, psychological and behavioural difficulties. Working with children with learning disabilities, autistic spectrum conditions, attachment difficulties, and those who have experienced trauma, are areas of specialism for Dr Tilley.  She enjoys working in close partnership with families and with young people of all ages. Dr Tilley is a registered Practitioner Psychologist with the Health and Care Professions Council HCPC (Registration PYL22261) and an Associate Fellow of the British Psychological Society (Membership number 130338).</p>'
  },
  {
    image: "images/helena.jpg",
    imageAlt: "Dr Helena Bligh Profile Picture",
    name: 'Dr Helena Bligh (<abbr title="Chartered Member of the British Psychological Society">C. Psychol,</abbr> <abbr title="Associate Fellow of the British Psychological Society">AFBPsS</abbr>)',
    blurb: '<p>Dr Helena Bligh is a Chartered Clinical Psychologist specialising in working with children and adolescents. She has twenty years clinical experience working both in the <abbr title="National Health Service">NHS</abbr> and private settings.  Dr Bligh has extensive clinical experience in assessment and therapeutic interventions with children, young people and their families, having worked in education, health and care settings.  She has over 15 years experience working in <abbr title="National Health Service">NHS</abbr> Child and Adolescent Mental Health Services, supporting children with emotional, behavioural and learning needs.  She regularly enjoys the opportunity to consult with, and offer training to, residential and education teams. Dr Bligh is passionate about working with systems, networks and directly with children and families to achieve the best possible outcomes for young people.  Working with children with autism and learning disabilities are areas of specialism for Dr Bligh. She is a Chartered Clinical Psychologist, and an Associate Fellow of the British Psychological Society, and has Practitioner status with the Health Professions Council.</p>'
  }
];

---

<style lang="scss">

  .owner-container {
    border: 1px solid red;
    display: flex;

    .profile-picture	{
	    width: 200px;
		  margin: 0 auto;

      @media (max-width: 767px) {  
        width: 70%;
        margin: 0 auto 25px auto;
      }
	  }

    h3 {
    	margin-bottom: 10px;
    	padding: 0 30px 5px 0;

      @media (max-width: 767px) {  
        padding: 15px 0px 10px 0;
        text-align: center;
        margin-bottom: 16px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {     
        margin-bottom: 10px;
        padding: 0 30px 5px 0;
        font-size: 1.5em;
      }
    }
  }

</style>

<Container id="whoWeAre">
  <HomePageContentSection title="Who We Are">
    {
      owners.map((owner) => (
        <section class="owner-container">
          <img class="profile-picture img-responsive" src={ owner.image } alt={ owner.imageAlt }>
          <section class="col-sm-8 media-blurb">
            <h3 set:html={owner.name}></h3>
            <section set:html={owner.blurb}></section>
          </section>
        </section>
      ))
    }
  </HomePageContentSection>
</Container>