<style lang="scss">

  @import '../../styles/dimensions.scss';

  nav {
    display: flex;
    gap: 5px;

    @media (max-width: $breakpoint-sm) {  
      flex-direction: column;
      width: 70%;
      background-color: #fff;
      height: 100vh;
      overflow: hidden;
    }

    a {
      color: #777;
      padding: 15px 15px 15px 15px;
      line-height: 20px;
      background-color: transparent;
      transition: background-color 0.5s ease-in-out;
      transition: color 0.1s ease-in-out;

      &:hover:not(.active) {
        background-color: #27BBDF;		
        color: #fff;	
        opacity: 0.6;
      }

      &:visited {
        text-decoration: none;
      }

      &.active {
        background-color: #27BBDF;		
        color: #fff;	
      }

      &:focus-visible {
        outline: 2px solid transparent;
        background-color: #fd0;
        color: #000;
      }
    }
  }
</style>

<nav id="navigation">
  <a href="/#">Home</a>
  <a href="/#services">Services</a>
  <a href="/#whatWeDo">About Us</a>
  <a href="/#whoWeAre">Who We Are</a>
  <a href="/#contact">Contact Us</a>
</nav>

<script>

  const navigation = document.querySelector('#navigation');

  // Todo: optimise with setTimout so that it doesn't run on every scroll event
  let scrollTimeout;

  document.addEventListener('scroll', function () {
    clearTimeout(scrollTimeout);
    scrollTimeout = setTimeout(() => {
      console.log('setting nav active');

      navigation?.childNodes.forEach((node) => {

      const hash = node.hash === '' ? '#banner' : node.hash;
      const section = document.querySelector(hash);
      const visible = isVisible(section)

      if (visible) {
        node.classList.add('active');
      } else {
        node.classList.remove('active');
      }
    });
    }, 50);
  });

  function isVisible(element) {
    const rect = element.getBoundingClientRect();
    const viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
    const verticalCenter = viewHeight / 2;
    return rect.top <= verticalCenter && rect.bottom >= verticalCenter;
  }
</script>