---

import TextLayout from "../layouts/TextLayout.astro";

---

<TextLayout>
  <h1>Fee Structure</h1>
  <p>All fees will be discussed with you at the initial telephone consultation or via email.</p>
  <h2>Initial Telephone Consultation</h2>
  <p>Upon receiving an initial inquiry, we will contact you for a brief (15 minute) telephone consultation which is 
    free of charge. This will allow us to find out a bit more about the areas of concern and discuss how we can 
    help.
  </p>
  <h2>Assessments</h2>
  <p>Initial assessment – £220</p>
  <p>This includes:</p>
  <ul>
    <li>Two 50 minute appointments involving an initial discussion to gather relevant background and developmental history.</li>
    <li>An opportunity for us all to meet to discuss current concerns.</li>
    <li>An assessment of the difficulties</li>
    <li>A collaborative plan for treatment</li>
  </ul>
  <p>
    Sometimes it feels important for parents to have space to discuss their concerns without their child present,
    for this reason the assessment is divided into two appointments. We will discuss this option during the 
    telephone consultation. On some occasions, one longer 90 minute appointment is all that is needed to gain 
    an understanding of the difficulties and develop a plan for the family to take forward. Alternatively, you can 
    choose to have a follow-up session to discuss the assessment outcome and recommendations more fully.
  </p>

  <p>Assessment Feedback session – £110</p>
  <p>
    A 50 minute session to discuss the assessment outcome, recommendations and any on-going therapeutic 
    support / interventions. This appointment can be with or without the young person present, depending on 
    circumstances. If ongoing appointments are indicated this will be discussed during the assessment feedback 
    appointment.
  </p>
  <p>Initial assessment (including review of previous assessments) – £330</p>
  <p>This includes:</p>
  <ul>
    <li>Reading and making sense of previous comprehensive reports/assessments from other professionals prior to your session to inform the assessment process.</li>
    <li>Two 50 minute appointments involving an initial discussion to gather relevant background and developmental history.</li>
    <li>A thorough assessment of the difficulties</li>
    <li>A collaborative plan for treatment/interventions</li>
  </ul> 
  <p>Assessment Feedback session if requested – £110</p>
  <h2>On-going Psychological Therapy</h2>
  <p>50 minute follow up sessions – £110</p>
  <p>
    The number of psychological therapy sessions will vary according to need and will always be agreed with you in advance, and regularly reviewed with you.
  </p>
  <p>Other charges:</p>
  <p>
    If clinically related telephone, email and report/letter-writing is required there will be a charge for this work. This will discussed with you in advance.
  </p>
  <h2>School / Network Consultation</h2>
  <p>90 minutes appointment and written summary - £300</p>
  <p>
    This 90 minute meeting within school (or a residential service) with professionals, parents/carers, is designed 
    to explore the areas of difficulty for a specific child, develop a shared understanding and agree a plan with 
    recommendations. There will be a written summary of this meeting. If it would be helpful for us to read 
    background reports or other assessments before the consultation, an additional charge will be agreed in 
    advance.
  </p>  
  <h2>Cognitive Assessments</h2>
  <p>
    A cognitive assessment can be helpful when a young person is struggling with learning in school or having 
    difficulties in specific areas. The young person will engage in a series of activities/puzzles/tasks which have 
    been specifically designed to gain a fuller understanding of a young person’s strength and weaknesses in a 
    variety of areas (e.g. ability to solve problems, remember information, interpret language, or process 
    information). These cognitive assessment tools are standardised which means that psychologists can make 
    comparisons in skills and abilities between other young people of the same age. This can then be used to 
    guide learning within school or help tailor interventions.
  </p>
  <p>Cognitive Assessment – £875</p>
  <ul>
    <li>An initial appointment to gather relevant background information and developmental history</li>
    <li>An assessment appointment with your child (approximately 2 hours)</li>
    <li>A written report including recommendations</li>
    <li>A 50 minute feedback session to discuss the assessment and recommendations.</li>
  </ul>
  <p>The format of these assessments will be designed according to each child’s specific needs.</p>
  <h2>Training Packages</h2>
  <p>Half day - £550 - £750</p>
  <p>Whole day - £950 - £1,250</p>
  <p>Bespoke packages tailored to your training needs, as discussed in an initial free telephone conversation. 
  Examples of training recently delivered include: managing anxiety/depression, bereavement, dealing with 
  disruptive behaviour, autism, attachment in the classroom, hard to reach children, working with parents.</p>
  <h2>Supervision</h2>
  <p>£110 per 50 minutes</p>
  <p>A range of supervision services can be provided including individual professional supervision, group 
  supervisions and reflective space for staff teams.</p>
  <h2>Travel costs</h2>
  <p>
    When we are required to travel to meet with you, your child or the professional network, there will be an 
    additional charge. This will be discussed with you in advance.
  </p>
</TextLayout>