---
import Button from '../Button/Button.astro'
import { ButtonStyles, ButtonTypes } from '../Button/ButtonTypes'
import Container from '../HOC/Container.astro';
---

<style lang="scss">

  .contact-form {
    border: 1px solid red;

    .hideMe {
      /*display: none;*/
    }

    .alerts {
      .form-control-errors-list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    form {

      // Desktop Only
      @media screen and (min-width: 1199px) {
        .input-control-group{
          float: right;
        }
      }

      input[type="text"], input[type="email"], input[type="tel"] {
        width: 400px;
        margin-bottom: 30px;

        @media (max-width: 767px) {
          width: 100%;
          margin-bottom: 30px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {       
          width: 100%;
          margin-bottom: 30px;
        }
      }

      textarea {
        width: 400px;
        margin-bottom: 30px;
        height: 216px;

        @media (max-width: 767px) {
          width: 100%;
          margin-bottom: 30px;
          height: 207px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) /* all tablets */
        {       
          width: 100%;
          margin-bottom: 30px;
          height: 216px;
        }
      }
    }
  }

</style>

<Container id="contact" >
  <div class="contact-form">

    <h2>Contact Us</h2>

    <p>If you would like to find out more about the services we offer, or discuss an enquiry please contact us via the email below. Alternatively you can complete the form below with some brief details about your enquiry and we will contact you for a brief telephone consultation which is free of charge. This will allow us to find out a bit more about the areas of concern and discuss how we can help.</p>

    <p>We will not pass your details onto third parties and will only use the information supplied for the purposes of handling your query. Please refer to our <a href="pdfs/PrivacyPolicy.pdf" target="_blank" title="Privacy Policy (opens in a new tab)">privacy policy</a> for further information about how we handle your data.</p>

    <div class="alerts">
      <div id="ContactFormErrorContainer" class="alert alert-warning hideMe" role="alert">
        <h4>There are some issues with the data you entered:</h4>
        <ul class="form-control-errors-list">
          <li id="nameRequired" class="hideMe">Name is a required field</li>
          <li id="emailRequired" class="hideMe">Email is a required field</li>
          <li id="emailInvalid" class="hideMe">The email given is not in the correct format</li>
          <li id="messageRequired" class="hideMe">Message is a required field</li>
        </ul>
      </div>

      <div id="ContactFormSendFailureContainer" class="alert alert-danger hideMe" role="alert">
        <p>The enquiry form failed to send, please try again later.</p>
      </div>

      <div id="ContactFormSendSuccessContainer" class="alert alert-success hideMe" role="alert">
        <p>Thank you for your enquiry. We aim to reply within 3 working days. Please check your junk mail if you have not received a reply after this time. Thank you for contacting us.</p>
      </div>

    </div>

    <form onsubmit="return SendMail(this);" novalidate>

      <div class="col-sm-6 text-left">
        <div class="input-control-group">
          <label for="Name">Name: (Required)</label>
          <input id="Name" type="text" name="name" placeholder="Enter your name" maxlength="250" aria-required="true">

          <label for="email">Email: (Required)</label>
          <input id="email" type="email" name="email" placeholder="Enter your email address" maxlength="250" aria-required="true">

          <label for="tel">Telephone:</label>
          <input id="tel" type="tel" name="tel" placeholder="Enter your telephone number" maxlength="14" aria-required="false">
        </div>
      </div>

      <div class="col-sm-6 text-left">
        <label for="message">Message: (Required)</label>
        <textarea id="message" rows="5" name="message" cols="30" placeholder="Enter a short message about you enquiry" maxlength="5000" aria-required="true"></textarea>
      </div>

      <div class="col-sm-12 text-center">
        <Button type={ButtonTypes.Button} style={ButtonStyles.PRIMARY}>Submit</Button>
      </div>

    </form>

  </div>
</Container> 