<style>
  .navbar-brand
	{
		padding:0px;
	}

  .navBarCompanyLogo
	{
		display: inline;
		float: left;
	}
	
	.navBarCompanyLogo img
	{
		height:68px;
		width: 68px;
	}

	.navbarCompanyName
	{
		font-weight: bold;
		font-size: 1.2em;
		padding-left: 8px;
		/*line-height: 35px;*/
		display: inline;
		float: left;
		padding-top: 32px;
	}

  .companyNamePart1
  {
    color:#27bbdf;
  }

  .companyNamePart2
  {

      color:#2d3286;
  }
</style>

<a class="navbar-brand" href="/">
  <section class="navBarCompanyLogo">
    <img src="/images/brain.png" alt="Making Sense Of It Ltd Logo">
  </section>
  <section class="navbarCompanyName">
    <span class="companyNamePart1">Making</span><br />
    <span class="companyNamePart2">Sense Of It</span>
  </section>
</a>