<a class="navbar-brand" href="/">
  <section class="navBarCompanyLogo">
    <img src="/images/brain.png" alt="Making Sense Of It Ltd Logo">
  </section>
  <section class="navbarCompanyName">
    <span class="companyNamePart1">Making</span><br />
    <span class="companyNamePart2">Sense Of It</span>
  </section>
</a>