<style lang="scss">

  @import '../../styles/dimensions.scss';

  nav {
    display: flex;
    gap: 5px;

    @media (max-width: $breakpoint-sm) {  
      flex-direction: column;
      width: 70%;
      background-color: #fff;
      height: 100vh;
      overflow: hidden;
    }

    a {
      color: #777;
      padding: 15px 15px 15px 15px;
      line-height: 20px;
      background-color: transparent;
      transition: background-color 0.5s ease-in-out;
      transition: color 0.1s ease-in-out;

      &:hover {
        background-color: #27BBDF;		
        color: #fff;	
        opacity: 0.6;
      }

      &:visited {
        text-decoration: none;
      }

      &.active {
        background-color: #27BBDF;		
        color: #fff;	
      }

      &:focus-visible {
        outline: 2px solid transparent;
        background-color: #fd0;
        color: #000;
      }
    }
  }
</style>

<nav id="navigation">
  <a href="/#">Home</a>
  <a href="/#services">Services</a>
  <a href="/#whatWeDo">About Us</a>
  <a href="/#whoWeAre">Who We Are</a>
  <a href="/#contact">Contact Us</a>
</nav>

<script>

  let location = window.location.hash || '';
  const navigation = document.getElementById('navigation');

  updateActiveLink();

  window.addEventListener('popstate', function () {
    location = window.location.hash || '';
    updateActiveLink();
  });

  function updateActiveLink()
  {
    navigation.childNodes.forEach((node) => {
      if (node.hash === location) {
        node.classList.add('active');
      } else {
        node.classList.remove('active');
      }
    });
  }
</script>