<style lang="scss">
	nav {
		display: flex;
		gap: 5px;

		a {
			color: #777;
			padding: 15px 15px 15px 15px;
			line-height: 20px;
			background-color: transparent;
			transition: background-color 0.5s ease-in-out;
			transition: color 0.1s ease-in-out;
			border: 1px solid red;

			&:hover {
				background-color: #27BBDF;		
				color: #fff;	
			}

			&:visited {
				text-decoration: none;
			}
		}
	}
</style>

<nav>
	<a href="/#">Home</a>
	<a href="/#services">Services</a>
	<a href="/#whatWeDo">About Us</a>
	<a href="/#whoWeAre">Who We Are</a>
	<a href="/#contact">Contact Us</a>
</nav>