---
import MobileMenuButton from './MobileMenuButton.astro'
---

<style lang="scss">

	@import '../../styles/dimensions.scss';

	.nav-container {

		@media (max-width: $breakpoint-sm) {  
			position: fixed;
			top: 0;
			left: 0;
			width: 0;
			display: flex;

			&.open-nav-menu {
				animation: slideOpen .50s forwards;
			}

			@keyframes slideOpen {
				0% {
					width: 0;
				}
				100% {
					width: 100%;
				}
			}

			&.close-nav-menu {
				animation: slideShut .50s forwards;
			}

			@keyframes slideShut {
				0% {
				width: 100%;
				}
				100% {
					width: 0;
				}
			}
		}
		

		nav {
			display: flex;
			gap: 5px;

			@media (max-width: $breakpoint-sm) {  
				flex-direction: column;
				width: 70%;
				background-color: #fff;
				height: 100vh;
				overflow: hidden;
			}

			a {
				color: #777;
				padding: 15px 15px 15px 15px;
				line-height: 20px;
				background-color: transparent;
				transition: background-color 0.5s ease-in-out;
				transition: color 0.1s ease-in-out;
				border: 1px solid red;

				&:hover {
					background-color: #27BBDF;		
					color: #fff;	
				}

				&:visited {
					text-decoration: none;
				}
			}
		}

		.overlay {
			display: none;
			@media (max-width: $breakpoint-sm) {  
				background-color: #666;
				opacity: 0.5;
				height: 100vh;
				display: block;
				width: 30%;
			}
		}

		.hide-me-mobile {
			width: none;
		}
	}
</style>

<MobileMenuButton id="menuBtn" />

<div id="nav-container" class="nav-container">
	<nav id="navigation">
		<a href="/#">Home</a>
		<a href="/#services">Services</a>
		<a href="/#whatWeDo">About Us</a>
		<a href="/#whoWeAre">Who We Are</a>
		<a href="/#contact">Contact Us</a>
	</nav>
	<section id="overlay" class="overlay"></section>
</div>

<script>
	let showMenu = false;
	const menuBtn = document.querySelector('#menuBtn');
	const overlay = document.querySelector('#overlay');
	const navContainer = document.querySelector('#nav-container');
	
	const toggleMenuEventHandler = () => {
		showMenu = !showMenu;
		toggleMenu();
	}

	const toggleMenu = () => {
		if (showMenu) {
			navContainer.classList.add('open-nav-menu');
			navContainer.classList.remove('close-nav-menu');
		} else {
			navContainer.classList.add('close-nav-menu');
			navContainer.classList.remove('open-nav-menu');
		}
	}

	menuBtn.addEventListener("click", toggleMenuEventHandler);
	overlay.addEventListener("click", toggleMenuEventHandler);

</script>