<style lang="scss">
	nav {
		display: flex;
		gap: 10px;
	}
</style>

<nav>
	<a href="/#banner">Home</a>
	<a href="/#services">Services</a>
	<a href="/#whatWeDo">About Us</a>
	<a href="/#whoWeAre">Who We Are</a>
	<a href="/#contact">Contact Us</a>
</nav>