<ul class="nav navbar-nav">
  <li class="scroll"><a href="/#Banner">Home</a></li>
  <li class="scroll"><a href="/#Services">Services</a></li>
  <li class="scroll"><a href="/#WhatWeDo">About Us</a></li>
  <li class="scroll"><a href="/#WhoWeAre">Who We Are</a></li>
  <li class="scroll"><a href="/#Contact">Contact Us</a></li>
</ul>