<ul id="Toolbar">
  <li>
    <a style="color: #3b5998" class="clickableIcon" target="_blank" href="https://www.facebook.com/sharer.php?u=http://www.makingsenseofit.org.uk/" title="Like us on Facebook">
      <i class="fa fa-facebook-square"></i>
      <span class="sr-only">Like us on Facebook</span>
    </a>
  </li>
  <li>
    <a style="color: #0084b4" class="clickableIcon" target="_blank" href="https://twitter.com/intent/tweet?text=Hello%20world" title="Tweet about us">
      <i class="fa fa-twitter-square"></i>
      <span class="sr-only">Tweet about us</span>
    </a>
  </li>
  <li>
    <a style="color: #E50F18" class="clickableIcon" target="_blank" href="mailto:info@makingsenseofit.org.uk" title="Send us an email">
      <i class="fa fa-envelope"></i>
      <span class="sr-only">Send us an email</span>
    </a>
  </li>
</ul>