<style lang="scss">
	#Toolbar
	{
		list-style: none;
		text-align: right;
		margin-right: 13px;
		font-size: 0.9em; 
		/*
		float: right;
		clear: both;
		*/
	}
	
	#Toolbar li
	{
		display: inline;
	}
	
	#Toolbar a
	{
		text-decoration: none;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) /* all tablets */
	{
		#ServiceMobileNavItem
		{
			display: none;
		}
		
		#Toolbar
		{
			list-style: none;
			text-align: right;
			margin-right: 13px;
			font-size: 0.9em; 
		}
		
		#Toolbar li
		{
			display: inline;
		}
		
		#Toolbar a
		{
			text-decoration: none;
		}
	}
</style>

<ul id="Toolbar">
  <li>
    <a style="color: #3b5998" class="clickableIcon" target="_blank" href="https://www.facebook.com/sharer.php?u=http://www.makingsenseofit.org.uk/" title="Like us on Facebook">
      <i class="fa fa-facebook-square"></i>
      <span class="sr-only">Like us on Facebook</span>
    </a>
  </li>
  <li>
    <a style="color: #0084b4" class="clickableIcon" target="_blank" href="https://twitter.com/intent/tweet?text=Hello%20world" title="Tweet about us">
      <i class="fa fa-twitter-square"></i>
      <span class="sr-only">Tweet about us</span>
    </a>
  </li>
  <li>
    <a style="color: #E50F18" class="clickableIcon" target="_blank" href="mailto:info@makingsenseofit.org.uk" title="Send us an email">
      <i class="fa fa-envelope"></i>
      <span class="sr-only">Send us an email</span>
    </a>
  </li>
</ul>