---
import Container from '../HOC/Container.astro';
import HomePageContentSection from '../HOC/HomePageContentSection.astro';
import ContactForm from './ContactForm.astro';
---

<style lang="scss">
  
</style>

<Container id="contact">
  <HomePageContentSection title="Contact Us">
    <p>If you would like to find out more about the services we offer, or discuss an enquiry please contact us via the email below. Alternatively you can complete the form below with some brief details about your enquiry and we will contact you for a brief telephone consultation which is free of charge. This will allow us to find out a bit more about the areas of concern and discuss how we can help.</p>
    <p>We will not pass your details onto third parties and will only use the information supplied for the purposes of handling your query. Please refer to our <a href="pdfs/PrivacyPolicy.pdf" target="_blank" title="Privacy Policy (opens in a new tab)">privacy policy</a> for further information about how we handle your data.</p>
    <ContactForm />
  </HomePageContentSection>
</Container> 