---

const icons = [
  {
    url: 'https://www.facebook.com/sharer.php?u=http://www.makingsenseofit.org.uk/',
    icon: 'fa fa-facebook-square',
    title: 'Like us on Facebook',
    text: 'Like us on Facebook'
  },
  {
    url: 'https://twitter.com/intent/tweet?text=Hello%20world',
    icon: 'fa fa-twitter-square',
    title: 'Tweet about us',
    text: 'Tweet about us'
  },
  {
    url: 'mailto:info@makingsenseofit.org.uk',
    icon: 'fa fa-envelope',
    title: 'Send us an email',
    text: 'Send us an email',
  },
  {
    url: 'javascript: print()',
    icon: 'fa fa-print',
    title: 'Print this page',
    text: 'Print this page',
  }
];

---

<style lang="scss">
  
  .footer-container {
    background-color: #2E2E2E; 
    color: white; 
    padding: 2rem 2rem 4rem 2rem;
    margin-top: 3rem;

    .social-media-icons {
      text-align: center;
      font-size: 3rem;

      a {
        padding-right: 1rem;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .copyright {
      float: left;
    }
    
    .footerNav {
      float: right;

      a {
        padding-right: 1rem;
        text-decoration: underline;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    a {
       color: white;
    }
  }

</style>

<footer class="container-fluid footer-container">
  <div class="social-media-icons">
    {
      icons.map(icon => (
        <a target="_blank" href={icon.url} title={icon.title}>
          <i class={icon.icon}></i>
          <span class="sr-only">{icon.text}</span>
        </a>
      ))
    }
  </div>
  <p class="copyright">&copy; Copyright { new Date().getFullYear() } - Making Sense Of It Ltd</p>
  <nav class="footerNav">
    <a href="pdfs/PrivacyPolicy.pdf" target="_blank" title="Privacy Policy (opens in a new tab)">Privacy Policy</a>
  </nav>
</footer>