<style lang="scss">
  @import '../../styles/dimensions.scss';

  section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .xxxl-only {
      display: none;
      @media screen and (min-width: $breakpoint-xxxl) {
        display: block;
      }
    }

    .xxl-only {
      display: none;
      @media screen and (min-width: $breakpoint-xxl) and (max-width: $breakpoint-xxxl){
        display: block;
      }
    }

    .xl-only {
      display: none;
      @media screen and (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxl){
        display: block;
      }
    }

    .lg-only {
      display: none;
      @media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl){
        display: block;
      }
    }

    .md-only {
      display: none;
      @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg){
        display: block;
      }
    }

    .sm-only {
      display: none;
      @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md){
        display: block;
      }
    }

    .xs-only {
      display: none;
      @media screen and (max-width: $breakpoint-sm){
        display: block;
      }
    }
  }
</style>

<section>
  <h1 class="xxxl-only">XXXL</h1>
  <h1 class="xxl-only">XXL</h1>
  <h1 class="xl-only">XL</h1>
  <h1 class="lg-only">LG</h1>
  <h1 class="md-only">MD</h1>
  <h1 class="sm-only">SM</h1>
  <h1 class="xs-only">XS</h1>
</section>