<div id="WhatWeDo" class="container text-center pageSection">
		
  <h2>About Us</h2>

  <div class="row">

    <div class="col-sm-8 media-blurb">
      <p>Dr Bligh and Dr Tilley have established Making Sense Of It Ltd as a partnership providing Clinical Psychology services to children, families and schools in the Sussex area. We are both passionate about supporting children to live fulfilling lives.  At the heart of our practice, we believe in the importance of relationships and work with the whole family or network surrounding a child. We both have significant experience working with children and adolescents with a range of difficulties including those with mental health problems, learning disabilities and autism, and other neurodevelopmental conditions. We have learnt through our practice that providing the right support as early as possible is essential.</p>
      <p>We work in partnership with families and schools. By partnership, we mean that everyone involved brings their own expertise. As a parent, you will know your child better than anyone else. You will know what makes them worried, scared, excited, happy or sad. You carry their story and hopes for their future.  Your child’s teacher will hold knowledge about different parts of their life, including how they learn, how they relate to others, and what they find hard within the school setting.  At Making Sense Of It, we will be interested in all of these areas, and will bring our knowledge and understanding of children’s development, mental health, emotional well-being and ideas about how to help children in these areas.</p>
      <p>If you would like to find out more about the services we offer, or discuss an enquiry please contact us via email. We look forward to hearing from you. A guide to our fees can be found on our <a href="/fees" title="A guide to our fees">Fees Structure page</a></p>
    </div>
    
    <div class="col-sm-4">	
      <img class="img-responsive" src="/images/familyInHands.png" alt="Family Hands">
    </div>
    
  </div>
  
</div>