---

import Container from '../HOC/Container.astro';
import HomePageContentSection from '../HOC/HomePageContentSection.astro';

const acreditations = [
  {
    id: 'HCPCLogo',
    url: 'http://www.hcpc-uk.org',
    logo: 'images/hcpc.jpg',
    alt: 'Health and Care Profesions Council Logo'
  },
  {
    id: 'bpsLogo',
    url: 'http://www.bps.org.uk',
    logo: 'images/bpslogo.svg',
    alt: 'British Psychological Society Logo'
  }
]

---

<style lang="scss">

  @import '../../styles/dimensions.scss';

  section {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media screen and (max-width: $breakpoint-sm){
			flex-direction: column;
      align-items: center;
      gap: 50px;
		}

    #bpsLogo {
      width: 300px;
    }
    
    #HCPCLogo {
      width: 139px;
    }
  }
</style>

<Container id="acreditations">
  <HomePageContentSection title="Acreditations">
    <p>Dr Jodie Tilley and Dr Helena Bligh are both proud members of the Health and Care Professions Council (HCPC) and the British Psychological Society (BPS). Please click the links below to find out about these organisations.</p>
    <section>
      {
        acreditations.map(item => (
          <a href={item.url}>
            <img id={item.id} src={item.logo} alt={item.alt} />
          </a>
        ))
      }
    </section>
  </HomePageContentSection>
</Container>