---

import Container from '../HOC/Container.astro';

const acreditations = [
  {
    id: 'HCPCLogo',
    url: 'http://www.hcpc-uk.org',
    logo: 'images/hcpc.jpg',
    alt: 'Health and Care Profesions Council Logo'
  },
  {
    id: 'bpsLogo',
    url: 'http://www.bps.org.uk',
    logo: 'images/bpslogo.svg',
    alt: 'British Psychological Society Logo'
  }
]

---

<style lang="scss">
  .acreditations
	{
		border-bottom: none;

    @media (max-width: 767px) {
      padding-top: 140px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 40px;
    }

    #bpsLogo
    {
      width: 300px;
      padding-top: 13px;

      @media (max-width: 767px) {
        width: 80%;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 300px;
        padding-top: 13px;
      }
    }
    
    #HCPCLogo
    {
      width: 139px;

      @media (max-width: 767px) {
        width: 80%;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 139px;
      }
    }
	}
</style>

<Container id="acreditations">
  <div class="acreditations">
      
    <h2 class="sr-only">Acreditations</h2>

    <p class="sr-only">Dr Jodie Tilley and Dr Helena Bligh are both proud members of the Health and Care Professions Council (HCPC) and the British Psychological Society (BPS). Please click the links below to find out about these organisations.</p>

    <div class="row">
      {
        acreditations.map(item => (
          <div class="col-sm-6 logoContainer">
            <a href={item.url}>
              <img id={item.id} src={item.logo} alt={item.alt} />
            </a>
          </div>
        ))
      }
    </div>
  </div>
</Container>