.hide {
  display: none;
}

.alert {
  padding: 16px;
  border-radius: 5px;
  border: 1px solid;

  p {
    margin: 0;
    padding: 0;
  }

  &.alert-success {
    background-color: rgb(232, 244, 232);
    border-color: green;
  }

  &.alert-error {
    background-color: rgb(255, 222, 222);
    border-color: red;
  }
}