---

import '../../node_modules/bootstrap-reboot/dist/reboot.min.css';
import '../styles/styles.scss';

import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Making Sense Of It Ltd provides Psychology Services for children, families and Schools in the Sussex area"/>
		<meta name="keywords" content="Psychology Services, children, families, Schools, Sussex, West Sussex, East Sussex, Autism, Training, Supervision, Autism Diagnostic Service, Cognitive Assessments, Children with learning disabilities, Child and Family Mental Health"/>

		<link rel="icon" href="/images/brain.png"/>

  	<title>Making Sense Of It Ltd – Psychology Services for children, families and Schools</title>

		<!-- <link rel="stylesheet" href="/css/font-awesome.min.css"/> -->

  </head>

  <body>

		<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
		
		<Header />

		<main id="content">
			
      <slot />

		</main>
		
		<Footer />

	</body>

</html>

