---

import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';

---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Making Sense Of It Ltd provides Psychology Services for children, families and Schools in the Sussex area"/>
		<meta name="keywords" content="Psychology Services, children, families, Schools, Sussex, West Sussex, East Sussex, Autism, Training, Supervision, Autism Diagnostic Service, Cognitive Assessments, Children with learning disabilities, Child and Family Mental Health"/>

		<link rel="icon" href="/images/brain.png"/>

  	<title>Making Sense Of It Ltd – Psychology Services for children, families and Schools</title>

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/css/styles.css"/>
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

		<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
		
		<Header />

		<main id="content">
			
      <slot />

		</main>
		
		<Footer />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
		<!-- <script src="scripts/scripts.js"></script> -->

	</body>

</html>

