
<style lang="scss">
  nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }
</style>


<nav>
  <a href="/services/schools">Schools</a>
  <a href="/services/family-mental-health">Child and Family Mental Health</a>
  <a href="/services/learning-disabilities">Children with Learning Disabilities</a>
  <a href="/services/cognitive-assessments">Cognitive Assessments</a>
  <a href="/services/autism-assessments">Autism Diagnostic Service</a>
  <a href="/services/supervision-and-training">Supervision & Training</a>
</nav>