---
// Should I just pull this from the services data file?
import { ServicesNavigationData } from './ServicesNavigationData.js'
---


<style lang="scss">
  nav {
    display: flex;
    flex-direction: column;
    padding: 0;

    a {
      color: #777;
      padding: 10px;
      line-height: 20px;
      background-color: transparent;
      //transition: background-color 0.5s ease-in-out;
      //transition: color 0.1s ease-in-out;

      &:hover:not(.active) {
        background-color: #27BBDF;		
        color: #fff;	
        opacity: 0.6;
      }

      &:visited {
        text-decoration: none;
      }

      &.active {
        background-color: #27BBDF;		
        color: #fff;	
      }

      &:focus-visible {
        outline: 2px solid transparent;
        background-color: #fd0;
        color: #000;
      }
    }
  }
</style>

<nav id="servicesNav">
  { 
    ServicesNavigationData.map((service) => (
        <a href={service.link}>{service.text}</a>
      )
    )
  }
</nav>

<script>
  const location = window.location.pathname || '';
  const navigation = document.querySelector('#servicesNav');

  updateActiveLink();

  function updateActiveLink()
  {
    navigation.childNodes.forEach((node) => {
      if (node.pathname === location) {
        node.classList.add('active');
      } else {
        node.classList.remove('active');
      }
    });
  }
</script>