---
import ButtonLink from '../Button/ButtonLink.astro'
import { ButtonStyles } from '../Button/ButtonTypes'
---

<style lang="scss">
  .banner
	{
		background-color: #F9FDFE;
		padding-top: 80px;
		background-image: url('../images/stock-photo-many-colorful-hands-with-smileys-204520951.jpg');
		background-position: center 62px;
		background-repeat: no-repeat;
		background-size: auto;
		background-color: #fff;
		border-bottom: 3px solid #27bbdf;
		height: 550px;

		@media (max-width: 767px) {
			padding-top: 50px;
			padding-bottom: 50px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			padding-top: 80px;
			height: 520px;
		}

		.text-container
		{
			h1 {
				padding-bottom: 5px;
				text-wrap: pretty;

				@media screen and (min-width: 768px) and (max-width: 1199px) {
					padding-bottom: 5px;
				}
			}

			p {
				padding-bottom: 10px;

				@media screen and (min-width: 768px) and (max-width: 1199px) {
					padding-bottom: 10px;
				}
			}
		}
	}
</style>

<div id="banner" class="container-fluid banner">
  <div class="container text-container">
		<h1>Psychology Services for children, families and schools</h1> 
		<p>Based in Worthing, West Sussex, Making Sense Of It Ltd provide Clinical Psychology services to children, families and schools in the Sussex area. Specialising in autism assessments in Sussex.</p> 
		<ButtonLink buttonStyle={ButtonStyles.PRIMARY} destination="#Services">Find out more...</ButtonLink>
  </div>
</div>