---
import ButtonLink from '../Button/ButtonLink.astro'
import { ButtonStyles } from '../Button/ButtonTypes'
---


<div id="Banner" class="container-fluid pageSection">
  <div id="InnerBanner">
    <div class="container BannerText">
      <div class="innerBannerText">
        <h1>Psychology Services for children, families and schools</h1> 
        <p class="bannerText">Based in Worthing, West Sussex, Making Sense Of It Ltd provide Clinical Psychology services to children, families and schools in the Sussex area. Specialising in autism assessments in Sussex.</p> 
        <!-- <a href="#Services" class="btn btn-primary bannerBtn">Find out more...</a> -->
        <ButtonLink buttonStyle={ButtonStyles.PRIMARY} destination="#Services">Find out more...</ButtonLink>
      </div>
    </div>
  </div>
</div>